<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2015 Volcano. All rights reserved. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.volcano.assistant" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21"
        tools:ignore="GradleOverrides"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.volcano.assistant.VlApplication"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Assistant" >

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CreateAccountActivity"
                  android:label="@string/label_new_account" />

        <activity android:name=".activity.EditAccountActivity" />

        <activity android:name=".activity.SigninActivity"
                  android:label="@string/label_signin"
                  android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity android:name=".activity.SignupActivity"
                  android:label="@string/label_signup"
                  android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.PasscodeActivity"
            android:label="@string/label_passcode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_passcode" />

        <provider
            android:authorities="com.volcano.assistant"
            android:name=".provider.AssistantProvider"
            android:writePermission="com.volcano.assistant.permission.WRITE"
            android:label="@string/app_name"
            android:syncable="true" />

    </application>

</manifest>
