<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2015 Volcano. All rights reserved. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volcano.esecurebox"
    android:versionCode="2"
    android:versionName="1.2.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.volcano.esecurebox.VlApplication"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Assistant"
        android:allowBackup="true">

        <activity
            android:name="com.volcano.esecurebox.activity.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.volcano.esecurebox.activity.CreateAccountActivity"
            android:label="@string/label_new_account"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.volcano.esecurebox.activity.DisplayAccountActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.volcano.esecurebox.activity.EditAccountActivity"
            android:label="@string/label_edit_account"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.volcano.esecurebox.activity.SigninActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name="com.volcano.esecurebox.activity.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.volcano.esecurebox.activity.PasscodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.volcano.esecurebox.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_settings" />

        <provider
            android:authorities="com.volcano.esecurebox"
            android:name="com.volcano.esecurebox.provider.AssistantProvider"
            android:writePermission="com.volcano.assistant.permission.WRITE"
            android:label="@string/app_name"
            android:syncable="true" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="1f2b7a3e08c00396c46dfba2caa0d8f04f322d07" />

    </application>

</manifest>
